## My Coursera Capstone project notebook

This jupyter notebook will be used for the coursera capstone project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## ---------------------------------------------------------------------------
## Segmenting and Clustering Neighborhoods in Toronto - Peer-graded Assignment

Importing Canada postal codes to pandas dataframe:

In [3]:
# Importing Canada postal codes to pandas dataframe:
!pip3 install lxml
!pip3 install html5lib
import lxml
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

Requirement already satisfied: lxml in /home/jupyterlab/conda/lib/python3.8/site-packages (4.5.2)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/lib/python3.8/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /home/jupyterlab/conda/lib/python3.8/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /home/jupyterlab/conda/lib/python3.8/site-packages (from html5lib) (0.5.1)

Checking the resulting dataframe with postal code data:

In [6]:
# Checking resulting dataframe with postal code data:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Removing cells w/o assigned Boroughs:

In [10]:
# Removing cells without assigned Boroughs:
df = df[df.Borough != 'Not assigned']

Checking resulting dataframe w/o unassigned boroughs:

In [11]:
# Checking resulting dataframe without unassigned boroughs:
df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Calling shape function to print total rows of dataframe df:

In [14]:
df.shape

(103, 3)

## ---------------------------------------------------------------------------